<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>item1</key>
	<dict>
		<key>name</key>
		<string>Bánh giò</string>
		<key>photo</key>
		<string>banhgio.jpg</string>
		<key>des</key>
		<string>Bánh giò ở đây siêu to và đầy đặn , vỏ bánh rất dày nè , nhân thịt thơm đậm đà và cũng nhiều luôn , một suất đầy đủ như trên ảnh có thêm cả giò bò , chả cốm và dưa góp ạ , thêm tí ớt cay cay vào là chuẩn ko cần chỉnh :)) 25k / bánh mình thấy cũng hợp lý . Quán mở từ tầm trưa và đến tầm chiều tối nhé , ngồi cả trong nhà lẫn ngoài đường đó ạ , tuy nhiên mấy cô bán hàng ở đây hay bị quên order của khách :3 </string>
	</dict>
	<key>item2</key>
	<dict>
		<key>name</key>
		<string>Bánh gối</string>
		<key>photo</key>
		<string>banhgoi.jpg</string>
		<key>des</key>
		<string>Nằm ở phố Trung tâm, quán bánh rán, bánh gối Lý Quốc Sư hàng chục năm nay luôn luôn đông khách.

Nói món ăn ở đây “ngon hiếm có” thì không phải. Bánh rán, bánh gối hay nước chấm để đánh giá đều chỉ ở mức “được được”, không quá điểm 7. Không gian ăn uống hay chuyện vệ sinh sạch sẽ cũng chẳng được đánh giá cao. Chưa kể, so với nhiều quán vỉa hè, giá ở đây không hề rẻ - 7.000 đồng/chiếc bánh rán và 9.000 đồng/chiếc bánh gối. Tuy bánh khá to, nhân thịt đầy đặn, nhưng để lót dạ buổi chiều, 2 người ăn khỏe cũng phải mất gần 100 nghìn đồng cả đồ uống.</string>
	</dict>
	<key>item3</key>
	<dict>
		<key>name</key>
		<string>Bánh tráng nướng</string>
		<key>photo</key>
		<string>banhtrangnuong.jpg</string>
		<key>des</key>
		<string>Chiều có việc qua đây nên tiện đi ăn vặt luôn :)). Lâu lắm rồi mới qua đây ăn. Biết đến quán này như quán bánh tráng đầu tiên có mặt ở Hà Nội, hồi đầu cực kỳ nghiện ăn ở đây :)) nhưng sau đó có nhiều quán khác, ăn cũng ưng ý hơn nên ít khi quay lại đây.  - Quán nằm ngay mặt phố Hàng Tre, rất dễ tìm. Quán có 2 tầng. Thường mình ăn trên tầng 2, sạch sẽ mát mẻ. Tuy không gian hơi hẹp một tẹo  - Bánh tráng ăn ngon, không bị nát quá. Bánh tráng nướng giòn, nhiều loại nhân để lựa chọn. Nhưng cũng tuỳ hôm chất lượng bánh tráng ngon hay không đấy. Có hôm đến ăn bánh tráng trộn siêu chán, có vị rất lạ nên từ đó đến giờ mới quay lại ăn  - Nhân viên không được thân thiện cho mấy. Hôm nào quán đông thì phục vụ hơi chậm, có hôm còn mang nhầm đồ. Có lẽ đây cũng là điểm khiến mình không còn thích ăn ở đây nữa</string>
	</dict>
	<key>item4</key>
	<dict>
		<key>name</key>
		<string>Bánh rán mặn</string>
		<key>photo</key>
		<string>banhgianman.jpg</string>
		<key>des</key>
		<string>Quán quá nổi tiếng luôn mùa đông lúc nào cũng đông nghịt khách từ chiều đến tối tầm 6r-7h tối đến là chuẩn bị đóng hàng rồi  Mỗi người đến thường gọi 2,3 cái ăn xong là vừa no vừa ngán muốn ăn nữa cũng không được  bánh nhân ngon rưới nước sốt hơi cay cay ngọt ngọt mùa đông vừa ăn vừa xuýt xoa là quá chuẩn  Quán nằm sâu trong ngõ ở đường lạc long quân nhưng đi qua đầu ngõ là nhìn thấy vì người ngồi đông nghịt   Mùa hè hình như vẫn bán nhưng mình không ăn nên cũng không rõ</string>
	</dict>
	<key>item5</key>
	<dict>
		<key>des</key>
		<string>Hà Nội có rất nhiều món quà đặc sản nhưng không món nào thơm thảo đượm chất đồng quê như hạt cốm xanh. Và dù nhiều làng làm cốm, song cốm làng Vòng vẫn được đánh giá là đầu bảng với vị dẻo ngọt và cả cái sự kỳ công của người làm. Khi lúa vừa chín độ ngả bóng câu thì người ta cắt lúa đem về tuốt hạt, sàng sảy bớt vỏ và tạp chất. Các bà, các cô khéo léo đãi nếp trong bể nước để chọn hạt mảy, căng bóng, sau đó nếp được đem rang bằng chảo gang đúc, đế dày, đảm bảo giữ nhiệt đều. Ngọn lửa rang cốm cũng cần một sự chăm chút, bởi nếu đốt bằng than lửa sẽ không đượm không đều nên người làng Vòng chọn củi để đốt lửa. Khi mới rang cốm, lửa phải để to đều, nhưng khi gạo bắt đầu tái trắng người trông bếp phải lựa để bớt lửa đi. Cốm rang cần được đảo liên tục cho nóng đều, bởi chỉ cần quá lửa chút là hạt cốm sẽ gãy.</string>
		<key>name</key>
		<string>Cốm</string>
		<key>photo</key>
		<string>com.jpg</string>
	</dict>
	<key>item6</key>
	<dict>
		<key>des</key>
		<string>nghe tiếng nem chua tạm thương từ lâu h mới có dịp thưởng thức ạ =)) ko có ng mua cho thì chắc cũng chẳng bao h có chuyện vào ngõ tạm thương ăn:)) hộp nem mang về mở ra bị sốc luôn, miếng nem bé quá, chỉ bằng 2/3 nem mình hay ăn mà tận 50k/10 cái, nem bé lắm ý:))  hiuhiu ăn vị thì quá bt, chả có gì đặc biệt mà rán còn hơi quá tay, dai nhách... đc cái nc ớt chấm cay xè miệng, đúng vị:))  ngõ đấy còn kiểu tranh dành khách, gọi khách các thứ cũng kinh lắm, bạn mình đi về kể các kiểu:)) chắc ko bao h nghĩ tới chuyện tới đây ngồi ăn tại quán mất:))</string>
		<key>name</key>
		<string>Nem chua rán</string>
		<key>photo</key>
		<string>nemchuaran.jpg</string>
	</dict>
	<key>item7</key>
	<dict>
		<key>des</key>
		<string>Quán nem chua nướng số 10 Ấu Triệu mở cửa từ 14h cho tới 0h sáng. Tuy được gọi là quán nhưng nơi này rất đơn giản. Bàn ăn ở đây thực chất chỉ là những chiếc khay đặt trên ghế xanh xếp liền nhau và đặt ở một phía của ngõ để không chắn đường đi lại. Không giống nem chua rán vốn khô và có màu vàng ruộm, nem chua nướng vẫn giữ nguyên được màu hồng tươi của thịt cùng với một chất keo dinh dính bao bọc bên ngoài. Chấm một chút ớt trong chiếc bát đựng nhỏ, mùi thơm cùng miếng nem nướng như hòa quyện và tan ra khi đưa lên miệng. Ngoài nem nướng, bạn còn có thể chọn những món nhắm khác như cá chỉ vàng, cá bò hay mực nướng... 

Giá bán cho một chiếc nem chua nướng ở đây là 4.500 đồng, trà đá 3.000 đồng một cốc, trà chanh 7.000 đồng một cốc, hoa quả khoảng 15.000 đồng một đĩa.
</string>
		<key>name</key>
		<string>Nem nướng</string>
		<key>photo</key>
		<string>nemnuong.jpg</string>
	</dict>
	<key>item8</key>
	<dict>
		<key>des</key>
		<string>Ngũ Xá là dọc các hàng quán bán đủ các món ăn đặc biệt được chế biến từ phở: phở cuốn, phở chiên phồng, phở chua, phở xào trứng. Xe vào đến Ngũ Xá thường có các bạn phục vụ mời chào khách rẽ vào phở cuốn Hương Mai, Hưng Bền... nhưng tín đồ của phở cuốn sẽ luôn lựa chọn hàng ăn thật khéo - đi vào sâu tít bên trong hàng ăn nhỏ phía đối diện với ngôi chùa nhỏ. Bàn ghế và quán tuy không rộng rãi đèn điện sáng choang như những hàng quán  bên cạnh nhưng chất lượng đồ ăn thì không </string>
		<key>name</key>
		<string>Phở cuốn</string>
		<key>photo</key>
		<string>phocuon.jpg</string>
	</dict>
	<key>item9</key>
	<dict>
		<key>des</key>
		<string>Thịt ở đây tẩm ướp đậm đà, ăn vừa thấy vị ngọt của thịt vừa có vị ngọt của mật ong. Cơ mà chán quá hôm nay đi ăn không được ăn thịt mới nướng các cậu ạ. Mình để ý thấy người ta bê khay thịt đã được nướng sẵn từ đâu đến í, xong lúi húi làm cái j í (hình như là cho vào lò làm nóng), rồi kẹp vào bánh mỳ luôn. May là thịt vẫn ngon nhưng nó không có cái mùi cháy cháy như là vừa nướng xong hiccc. Bình thường đi qua đây là hương thơm ngào ngạt thu hụt mọi ánh nhìn cơ, hôm nay chả thấy hương khói gì sất :&lt;
Xem thêm
18:23, 19 tháng 3, 2014</string>
		<key>name</key>
		<string>Thịt nướng</string>
		<key>photo</key>
		<string>thitnuong.jpg</string>
	</dict>
</dict>
</plist>
